.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: #DB8876 solid 2px;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name{
    font-size: 4rem;
    color: #D3573C;
}

.profile-place{
    font-size: 1.5rem;
    color: #901C1C;
    margin-bottom: 5px;
}

.profile-tagline{
    font-size: 1.125rem;
    color: #525252;
}

.contact_button, .contact_send {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_modal{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50vh;
    transform: translate(0, -50%);
    width: 100%;
    height: max-content;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    padding-left:10px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}

form textarea{
    padding: 10px;
    border: none;
    height :136px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.3rem;
}

.field-error{
    border: 3px solid #DC143C;
}

.field-error-message{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #DC143C;
}

.media-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 40px;
    margin-top: 100px;
}

.media-content{
    border: #901C1C solid 2px;
    height: 350px;
    width: 350px;
    color: #901C1C;
}

.media-content img{
    height: calc(100% - 30px);
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.media-info{ /*TODO Comment gérer les titres trop long?*/
    height: 30px;
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-stretch: 50%;
}

.media-likes{
    width: auto;
    display: flex;
    flex-flow: row;
    gap: 6.37px;
}

.liked{
    color: yellow;
}

.likes-container{
    position: fixed;
    bottom: -19px;
    right: 36px;
    background-color: #DB8876;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#sort-container{
    position:absolute;
    margin: 20px 100px 0 100px;
    padding: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    flex-flow: row;
    justify-content: start;
    gap: 30px;
    width: max-content;
}

.sorting-list{
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    width: max-content;
    position:relative;
    height: max-content;
    border: #901C1C solid 2px;
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: start;
    gap: 15px;
    width: 170px;
}

.sorting-ul{
    padding: 0px 10px;
    width: 100%;
    cursor: pointer;
}

.sorting-ul li{
    padding: 14px 0px;
}


.sorting-ul li:nth-child(n+2):nth-child(-n+3) {
    margin-top: 10px;
    border-top:white solid 1px;
}

.sorting-icon{
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 16px;
    right: 18px;
    transform-origin: center;
    cursor: pointer;
}

.icon-rotate{
    display: inline-block;
    transform: rotate(180deg);
}

.hidden{
    display: none;
}

.carousel_modal{
    height: 984px;
    width: 1253px;
    background-color: yellow;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


.carousel-container button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    color: #901C1C;
    font-size: 32px;
    font-weight: bold;
    background: none;
    border: none;
    height: max-content;
    width: max-content;
}


.carousel-container img, .carousel-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.next-previous a{
    color: #901C1C;
}

.next-previous .fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 32px;
    font-weight: bold;
    margin: 0 30px;
}

.next-previous .fa-chevron-right{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 32px;
    font-weight: bold;
    margin: 0 30px;
}

.modal-display{
    opacity: 1;
    z-index: 0;
}

.fa-video{
    font-size: 32px;
    font-weight: bold;
    color: #DB8876;
    text-shadow:
        -2px 0px 0px #901C1C,
        2px 0px 0px #901C1C,
        0px -2px 0px #901C1C,
        0px 2px 0px #901C1C;
    position: absolute;
    margin: 15px 0 0 15px;
}

.carousel-media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #901C1C solid 10px;
}

/* TODO Faire le CSS de présentation de média sur le carousel */